<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Author Registration</title>
</head>
<body>
<form action="saveuser" method="post">
<table align="center">
<tr>
 <td>Enter Author id</td>
 <td><input type="text" name="auid"></td>
</tr>
<tr>
 <td>Enter Author Name</td>
 <td><input type="text" name="authorname"></td>
</tr>
<tr>
 <td>Enter Email </td>
 <td><input type="email" name="email"></td>
</tr>
<tr>
 <td colspan="2" align="center">
  <input type="submit" value="signup"></td>
</tr>
</table>
</form>
</body>
</html>