<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Publisher Registration</title>
</head>
<body>
<form action="saveuser2" method="post">
<table align="center">
<tr>
 <td>Enter Publisher id</td>
 <td><input type="text" name="pubid"></td>
</tr>
<tr>
 <td>Enter Publisher Name</td>
 <td><input type="text" name="publishername"></td>
</tr>
<tr>
 <td>Enter Emailid </td>
 <td><input type="email" name="emailid"></td>
</tr>
<tr>
 <td>Enter Address</td>
 <td><input type="text" name="address"></td>
</tr>
<tr>
 <td colspan="2" align="center">
  <input type="submit" value="signup"></td>
</tr>
</table>
</form>
</body>
</html>