<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Booktitle Details Registration</title>
</head>
<body>
<form action="saveuser1" method="post">
<table align="center">
<tr>
 <td>Enter Booktitle id</td>
 <td><input type="text" name="btid"></td>
</tr>
<tr>
 <td>Enter Title </td>
 <td><input type="text" name="title"></td>
</tr>
<tr>
 <td>Enter Auid1 </td>
 <td><input type="text" name="auid1"></td>
</tr>
<tr>
 <td>Enter Auid2</td>
 <td><input type="text" name="auid2"></td>
</tr>
<tr>
 <td>Enter Auid3</td>
 <td><input type="text" name="auid3"></td>
</tr>
<tr>
 <td>Enter Pubid</td>
 <td><input type="text" name="pubid"></td>
</tr>
<tr>
 <td>Enter Price</td>
 <td><input type="text" name="price"></td>
</tr>

<tr>
 <td colspan="2" align="center">
  <input type="submit" value="signup"></td>
</tr>
</table>
</form>
</body>
</html>