<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Booktitle details</title>
</head>
<body>

<p>Booktitle id :- <span th:text="${user.btid}"></span></p>
<p>Book Title :- <span th:text="${user.title}"></span></p>
<p>Auid1 :- <span th:text="${user.auid1}"></span></p>
<p>Auid2 :- <span th:text="${user.auid2}"></span></p>
<p>Auid3 :- <span th:text="${user.auid3}"></span></p>
<p>Pubid :- <span th:text="${user.pubid}"></span></p>
<p>Price :- <span th:text="${user.price}"></span></p>

</body>
</html>